/* Body + Hintergrund */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Smokum', sans-serif;
    color: #fff;
    text-align: center;
    background-image: url('img/desert-826238_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Hauptinhalt */
.main-content {
    flex: 1; /* füllt den verfügbaren Platz */
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas{
    display: block;
}

/* Zurück-Link */
.back-link {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 15px;
    border-radius: 10px;
}

.back-link:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Überschriften */
h1, h2 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0;
}

/* Impressum-Box */
.impressum-info {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 25px;
    border-radius: 15px;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.8;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Quellen-Liste */
.source-list {
    max-width: 800px;
    margin: 20px auto;
}

.source-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Links */
a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: auto; /* immer unten */
    font-size: 16px;
    color: #fff;
    padding: 15px 0;
}

